.dashboard-cont {
    width: 100vw;
    background: var(--background);
    display: grid;
    overflow: hidden;
    position: relative;


    .dashboard-bdy {
        display: flex;
        height: calc(100vh - 100px);
        z-index: 1;
        
    }
}

@media screen and (min-width: 2300px) {
    .dashboard-cont {
     width: 2300px ;
    }

 }


@media screen and (max-width: 860px) {
    .dashboard-cont {

        .active-pg-display {
            height: 100vh;
        }
    }

    

}






