.sidebar {
    width: 293px;
    height: calc(100vh - 100px);
    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    color: var(--primary-color);
    background-color: var(--white);


    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: var(--primary-color);
    }

    .logo {
        display: none;
    }

    .switch-organization,
    .dashboard {
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding-left: 33px;
        padding-right: 35px;

        p {
            margin-left: 7px;
        }
    }

    p {
        margin: 0;
    }

    .switch-organization {
        margin-top: 20px;
    }

    .dashboard {
        justify-content: unset;
        margin-top: 50px;
        margin-bottom: 35px;
        opacity: 50%;
        p {
            margin-left: 10px;
        }
    }

    .hds {
        
        margin-top: 30px;
        p {
            font-size: .75rem;
            font-weight: 500;
            color: --bluish-gray;
            padding-left: 33px;
            margin-bottom: 10px;
        }

        ul {
            display: grid;
            margin: 0px;
            padding: 0;
            gap: 7px;


            li {
                font-size: 1rem;
                font-weight: 400;
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                padding-left: 30px;
                height: 40px;
                border-left: solid 3px transparent;
                cursor: pointer;

                &:hover {
                    background: var(--transparent-teal-2);
                    border-left: solid 3px var(--light-teal);
                }

                a {
                    text-decoration: none;
                    color: var(--bluish-gray);
                    opacity: 60%;
                    margin-left: 10px;
                }
            }
        }

    }

    .logout{
        border-top: 1px solid rgb(229, 229, 229);
        margin-top: 60px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        gap: 50px;

        button{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding: 0;
            width: fit-content;
            border: none;
            background-color: transparent;
            font-size: 1rem;
            font-weight: 400;
            color: var(--primary-color);
            
        }
    }

}

@media screen and (max-width: 860px) {
    .sidebar {
        position: absolute;
        padding-bottom: 20px;
        padding-top: 200px;
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transform: translateY(-120%);
        transition: transform 350ms ease-in-out;
        z-index:50;
       
        &[data-visible="true"] {
            transform: translateY(0.2%);
        }

        .logo {
            display: flex;
            width: fit-content;
            height: fit-content;
            padding-left: 33px;
            margin-top: -10px;
            margin-bottom: 50px;
            
            svg {
                padding-top: 30px;
                width: 180px;
                height: auto;
            }
        }
        

        .switch-dash {
            position: absolute;
            margin-top: 20px;
            .switch-organization {
               
                p{
                    margin-right: 10px;
                }
            }

            .dashboard {
                margin-top: 30px;
            }
        }

        .logout{
            display: none;
        }

    }
}

@media screen and (max-width: 600px){
    .sidebar{
        .settings
        {
            margin-top: 0px !important;
        }
    }
}

@media screen and (max-width: 398px) {
    .sidebar {
        padding-top: 218px !important;
        transform: translateX(-120%);
    
        &[data-visible="true"] {
            transform: translateX(0%), translateY(.5%);


        }
        .hds {
            margin-top: 20px !important;
            
        }

    }
}